* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: hsl(29, 53%, 90%);
    color: #000;
}
.main-container {
    max-width: 800px;
    margin: 8rem auto;
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.special-color {
    background-color: #fff7fc;
    padding: 30px;
}
.special-color h2 {
    color: #792b49;
}
h2 {
    margin-bottom: 15px;
    color: #7e473b;
}